In [1]:
from sqlalchemy import create_engine
import pandas as pd
import yaml
import json
import spatialite
import os

In [2]:
def get_parameters_from_yaml():
    with open('make_crb_damage_map.yaml') as f:
        parameters = yaml.load(f)
    return parameters
    

def connect_to_db():
    connection_string = 'mysql+pymysql://{}:{}@{}'.format(
        parameters['DBUSERNAME'], parameters['DBPASSWORD'], parameters['DBURL'])
    print(connection_string)
    engine = create_engine(connection_string)
    connection = engine.connect()
    return connection


def video_list_string():
    return ','.join("'{}'".format(v) for v in parameters['VIDEOLIST'])


def line_string(json_string):
    data = json.loads(json_string)
    coordinates_list = data['features'][0]['geometry']['coordinates']
    linestring = 'LINESTRING('
    for coordinates in coordinates_list:
        linestring += f'{coordinates[0]} {coordinates[1]},'
    linestring = linestring[:-1] # remove last comma
    linestring += ')'
    return linestring

# Step 1

Create new database. This step will fail if the database already exists.

```
spatialite videosurvey.spatialite < schema.sql
```

# Step 2

Populate tables using data stored in the on-line MySQL database.

parameters = get_parameters_from_yaml()
print(parameters)
conn = connect_to_db()

sql = f'SELECT video_id, gps_track_json FROM videos WHERE video_id IN ({video_list_string()})'
df_videos = pd.read_sql(sql, conn)

spatial_conn = spatialite.connect('roadside.db', timeout=10)
cur = spatial_conn.cursor()

for index, row in df_videos.iterrows():
    sql = f"""
    INSERT INTO videos (name, geometry) 
    VALUES ('{row.video_id}', GeomFromText('{line_string(row.gps_track_json)}', 4326));
    """
    cur.execute(sql)  
    spatial_conn.commit()

sql = f'SELECT * FROM videos WHERE video_id IN ({video_list_string()})'
df = pd.read_sql(sql, conn)
df

In [3]:
def populate_videos_table():
    
    # Get data from MySQL database
    
    sql = f'SELECT * FROM videos WHERE video_id IN ({video_list_string()})'
    df_videos = pd.read_sql(sql, mysql_conn)

    
    # Write SQL to populate_videos_table.sql

    sql = ''
    for index, row in df_videos.iterrows():
        sql += f"""
    INSERT INTO videos (
        name,
        device,
        video_app,
        camera_options,
        location_app,
        notes,
        gb,
        fps,
        resolution,
        lens,
        camera_mount,
        vehicle,
        camera_mount_position,
        camera_orientation,
        horizontal_angle,
        vertical_angle,
        geometry
    )
    VALUES (
        '{row['video_id']}', 
        '{row['Device']}',
        '{row['Video App']}',
        '{row['Camera options']}',
        '{row['Location App']}', 
        '{row['Notes']}', 
        {row['GB']}, 
        {row['FPS']}, 
        '{row['Resolution']}', 
        '{row['Lens']}',
        '{row['Camera mount']}', 
        '{row['Vehicle']}', 
        '{row['Camera mount position']}',
        '{row['Camera orientation']}', 
        {row['Horizontal angle']}, 
        {row['Vertical angle']},
        GeomFromText('{line_string(row.gps_track_json)}', 4326)
    );"""
    with open("populate_videos_table.sql", "w") as f:
        f.write(sql)
        return sql

In [4]:
def populate_frames_table():
    df_videos = pd.read_sql('select id, name AS video_name from videos;', spatial_conn)
    #print(df_videos)
    s = ''
    for _, v_row in df_videos.iterrows():
        sql = f"SELECT frame, timestamp, lat, lon FROM frames where video_id='{v_row.video_name}';"
        #print(sql)
        df_frames = pd.read_sql(sql, mysql_conn) 
        for _, f_row in df_frames.iterrows():
            s += f"""
            INSERT INTO frames (
                video_id, 
                frame_number, 
                time, 
                geometry
            ) 
            VALUES (
                {v_row.id},
                {f_row.frame},
                '{f_row.timestamp}',
                GeomFromText('POINT({f_row.lon} {f_row.lat})', 4326)              
            );"""

    with open("populate_frames_table.sql", "w") as f:
        f.write(s)

In [5]:
# df_trees['video_name'] = df_trees.frame_id.apply(lambda x: x.split('-')[0])
# df_trees['frame_number'] = df_trees.frame_id.apply(lambda x: x.split('-')[1])

In [6]:
def get_frame_id(old_frame_id):
    """
    Get the frame_id used in the Spatialite database by parsing the frame_id used in the MySQL database
    Format of the old frame_id is 20200703_125239.mp4-135 (video file name and frame number)
    """
    cur.execute(f"SELECT id FROM videos WHERE name='{old_frame_id.split('-')[0]}'")
    video_id = [x[0] for x in cur.fetchall()][0]
    cur.execute(f"SELECT id FROM frames WHERE video_id={video_id} AND frame_number='{old_frame_id.split('-')[1]}'")
    frame_id = [x[0] for x in cur.fetchall()][0]
    return frame_id    

#get_frame_id('20200703_125239.mp4-135')

In [7]:
def populate_trees_table():

    # Get the old trees table from the MySQL database

    sql = f"""
    SELECT trees.*
    FROM videos, frames, trees
    WHERE 
    videos.video_id = frames.video_id
    AND frames.frame_id = trees.frame_id 
    AND videos.video_id IN ({video_list_string()})"""
    #print(sql)
    df_trees  = pd.read_sql(sql, mysql_conn)
    df_trees.rename(columns={'frame_id':'old_frame_id'}, inplace=True)
    df_trees['frame_id'] = df_trees.old_frame_id.apply(lambda x: get_frame_id(x))
    df_trees

    # Write SQL to populate_trees_table.sql

    s = 'INSERT INTO trees (frame_id, damage_index, geometry)\n'
    s += 'VALUES\n'
    for _, r in df_trees.iterrows():
        s += f"({r.frame_id},{r.damage},GeomFromText('MULTIPOINT({r.xtl} {r.ytl},{r.xbr} {r.ybr})',-1)),\n"
    s = s[:-2] # Remove last comma and CR
    s += ';'
    with open("populate_trees_table.sql", "w") as f:
        f.write(s)

In [8]:
def populate_vcuts_table():
    
    # get data from MySQL database

    sql = f"""
    SELECT vcuts.*
    FROM videos, frames, vcuts
    WHERE 
    videos.video_id = frames.video_id
    AND frames.frame_id = vcuts.frame_id 
    AND videos.video_id IN ({video_list_string()})"""
    #print(sql)
    df_vcuts  = pd.read_sql(sql, mysql_conn)
    df_vcuts.rename(columns={'frame_id':'old_frame_id'}, inplace=True)
    df_vcuts['frame_id'] = df_vcuts.old_frame_id.apply(lambda x: get_frame_id(x))
    df_vcuts['polygon'] = df_vcuts.poly_json.apply(lambda x: x.replace(',', ' ').replace(';', ','))
    df_vcuts

    # Write SQL to populate_vcuts_table.sql

    s = 'INSERT INTO vcuts (frame_id, geometry)\n'
    s += 'VALUES\n'
    for _, r in df_vcuts.iterrows():
        s += f"({r.frame_id},PolyFromText('POLYGON(({r.polygon}))',-1)),\n"
    s = s[:-2] # Remove last comma and CR
    s += ';'
    with open("populate_vcuts_table.sql", "w") as f:
        f.write(s)

# MAIN

In [9]:
parameters = get_parameters_from_yaml()
mysql_conn = connect_to_db()

print('spatialite videosurvey.spatialite < videosurvey_schema.sql')
if os.path.exists('videosurvey.spatialite'):
    os.remove('videosurvey.spatialite')  
os.system('spatialite videosurvey.spatialite < videosurvey_schema.sql')
spatial_conn = spatialite.connect('videosurvey.spatialite')
cur = spatial_conn.cursor()

print('spatialite videosurvey.spatialite < populate_videos_table.sql')
populate_videos_table()
os.system('spatialite videosurvey.spatialite < populate_videos_table.sql')

print('spatialite videosurvey.spatialite < populate_frames_table.sql')
populate_frames_table()
os.system('spatialite videosurvey.spatialite < populate_frames_table.sql')     

print('spatialite videosurvey.spatialite < populate_trees_table.sql')
populate_trees_table()
os.system('spatialite videosurvey.spatialite < populate_trees_table.sql')

print('spatialite videosurvey.spatialite < populate_vcuts_table.sql')
populate_vcuts_table()
os.system('spatialite videosurvey.spatialite < populate_vcuts_table.sql')      

print('FINISHED')

/home/aubrey/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  This is separate from the ipykernel package so we can avoid doing imports until

mysql+pymysql://readonlyguest:readonlypassword@mysql.guaminsects.net/videosurvey
spatialite videosurvey.spatialite < videosurvey_schema.sql
spatialite videosurvey.spatialite < populate_videos_table.sql
spatialite videosurvey.spatialite < populate_frames_table.sql
spatialite videosurvey.spatialite < populate_trees_table.sql
spatialite videosurvey.spatialite < populate_vcuts_table.sql
FINISHED