In [17]:
from sqlalchemy import create_engine
import pandas as pd
import yaml
import json
import spatialite
import os
import time

In [18]:
def get_parameters_from_yaml():
    with open('make_crb_damage_map.yaml') as f:
        parameters = yaml.load(f)
    return parameters
    

def connect_to_db():
    connection_string = 'mysql+pymysql://{}:{}@{}'.format(
        parameters['DBUSERNAME'], parameters['DBPASSWORD'], parameters['DBURL'])
    print(connection_string)
    engine = create_engine(connection_string)
    connection = engine.connect()
    return connection


def video_list_string():
    return ','.join("'{}'".format(v) for v in parameters['VIDEOLIST'])


def line_string(json_string):
    data = json.loads(json_string)
    coordinates_list = data['features'][0]['geometry']['coordinates']
    linestring = 'LINESTRING('
    for coordinates in coordinates_list:
        linestring += f'{coordinates[0]} {coordinates[1]},\n'
    linestring = linestring[:-2] # remove last comma and newline character
    linestring += ')'
    return linestring

# Step 1

Create new database. This step will fail if the database already exists.

```
spatialite videosurvey.spatialite < schema.sql
```

# Step 2

Populate tables using data stored in the on-line MySQL database.

In [19]:
def create_videos_table():
    sql = """
    CREATE TABLE videos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL UNIQUE,
        device TEXT,
        video_app TEXT,
        camera_options TEXT,
        location_app TEXT,
        notes TEXT,
        gb FLOAT,
        fps FLOAT,
        resolution TEXT,
        lens TEXT,
        camera_mount TEXT,
        vehicle TEXT,
        camera_mount_position TEXT,
        camera_orientation TEXT,
        horizontal_angle FLOAT,
        vertical_angle FLOAT
    );
    """
    cur.execute(sql)

In [20]:
def create_tracks_table():
    sql = """
    CREATE TABLE tracks (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL UNIQUE,
        FOREIGN KEY(name) REFERENCES frames(name)
    );
    """
    cur.execute(sql)

    # geometry contains a gps track (lon/lat) of camera locations

    sql = "SELECT AddGeometryColumn('tracks', 'geometry', 3857, 'LINESTRING', 'XY');"
    cur.execute(sql)
    spatial_conn.commit()

In [21]:
def create_frames_table():
    sql = """
    CREATE TABLE frames (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        video_id INTEGER,
        frame_number INTEGER NOT Null,
        time TEXT,
        FOREIGN KEY(video_id) REFERENCES videos(id),
        UNIQUE(video_id, frame_number)
    );
    """
    cur.execute(sql)

    # geometry contains a point for the camera location (SRID 3857)
    
    sql = "SELECT AddGeometryColumn('frames', 'geometry', 3857, 'POINT', 'XY');"   
    cur.execute(sql)
    spatial_conn.commit()

In [22]:
def create_trees_table():
    sql = """
    CREATE TABLE trees ( 
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        frame_id INTEGER,
        damage_index INTEGER NOT NULL,
        FOREIGN KEY(frame_id) REFERENCES frames(id)
    );
    """
    cur.execute(sql)    

    # geometry contains a bounding box around a tree in the frame image
    # represented using two points: upper lefthand pixel position and
    # bottom right pixel position.

    sql = "SELECT AddGeometryColumn('trees', 'geometry', -1, 'MULTIPOINT', 'XY');"   
    cur.execute(sql)
    spatial_conn.commit()

In [23]:
def create_vcuts_table():
    sql = """
    CREATE TABLE vcuts (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        frame_id INTEGER,
        FOREIGN KEY(frame_id) REFERENCES frames(id)
    );
    """
    cur.execute(sql)    
    
    # geometry contains pixel positions of a polygon surround the vcut
    # in the frame image 
    sql = "SELECT AddGeometryColumn('vcuts', 'geometry', -1, 'POLYGON', 'XY');"   
    cur.execute(sql)
    spatial_conn.commit()

In [24]:
def create_trees_view():
    """
    Creates a view for use with QGIS
    The geometry column contains camera location coordinates.
    Note: SQL for this spatially enabled view was developed using spatiallite_gui Query/View Composer    
    """
    cur.execute('BEGIN;')
    sql = """
    CREATE VIEW "trees_view" AS
    SELECT "a"."damage_index" AS "damage_index", "b"."ROWID" AS "ROWID", "b"."geometry" AS "geometry"
    FROM "trees" AS "a"
    JOIN "frames" AS "b" ON ("a"."frame_id" = "b"."id")
    """
    cur.execute(sql)
    sql = """
    INSERT INTO views_geometry_columns
    (view_name, view_geometry, view_rowid, f_table_name, f_geometry_column, read_only)
    VALUES ('trees_view', 'geometry', 'rowid', 'frames', 'geometry', 1);    
    """
    cur.execute(sql)
    cur.execute('COMMIT;')

In [25]:
def create_vcuts_view():
    """
    Creates a view for use with QGIS
    The geometry column contains camera location coordinates.
    Note: SQL for this spatially enabled view was developed using spatiallite_gui Query/View Composer    
    """
    cur.execute('BEGIN;')
    sql = """
    CREATE VIEW "vcuts_view" AS
    SELECT  "b"."ROWID" AS "ROWID", "b"."geometry" AS "geometry"
    FROM "vcuts" AS "a"
    JOIN "frames" AS "b" ON ("a"."frame_id" = "b"."id")
    """
    cur.execute(sql)
    sql = """
    INSERT INTO views_geometry_columns(
        view_name, view_geometry, view_rowid, f_table_name, f_geometry_column, read_only)
    VALUES ('vcuts_view', 'geometry', 'rowid', 'frames', 'geometry', 1);        
    """
    cur.execute(sql)    
    cur.execute('COMMIT;')

In [26]:
def populate_videos_table():
    
    # Get data from MySQL database
    
    sql = f'SELECT * FROM videos WHERE video_id IN ({video_list_string()})'
    df_videos = pd.read_sql(sql, mysql_conn)
    
    # Write SQL to populate_videos_table.sql

    s = 'INSERT INTO videos (name, device, video_app, camera_options,\n'
    s += 'location_app, notes, gb, fps,\n'
    s += 'resolution, lens, camera_mount, vehicle,\n'
    s += 'camera_mount_position, camera_orientation, horizontal_angle, vertical_angle)\n'
    s += 'VALUES\n'
    
    for _, row in df_videos.iterrows():
        s += '(\n'
        s += f"'{row['video_id']}','{row['Device']}','{row['Video App']}','{row['Camera options']}',\n"
        s += f"'{row['Location App']}','{row['Notes']}',{row['GB']},{row['FPS']},\n" 
        s += f"'{row['Resolution']}','{row['Lens']}','{row['Camera mount']}','{row['Vehicle']}',\n" 
        s += f"'{row['Camera mount position']}','{row['Camera orientation']}',{row['Horizontal angle']},\n" 
        s += f"{row['Vertical angle']}\n"
        s += '),\n'

    s = s[:-2] # Remove last comma and CR
    s += ';'        

    cur.execute(s)
    spatial_conn.commit()

#     with open("populate_videos_table.sql", "w") as f:
#         f.write(s)

In [27]:
def populate_tracks_table():

    # Get data from MySQL database
    
    sql = f'SELECT video_id, gps_track_json FROM videos WHERE video_id IN ({video_list_string()})'
    df_tracks = pd.read_sql(sql, mysql_conn)
    
    # Write SQL to populate_videos_table.sql
    
    for _, row in df_tracks.iterrows():
        name = row.video_id
        linestring = line_string(row.gps_track_json)
        sql = f"""INSERT INTO tracks(name, geometry) 
                    VALUES('{name}', SIMPLIFY( TRANSFORM( GeomFromText( '{linestring}', 4326), 3857 ), 5));"""
        cur.execute(sql)
    spatial_conn.commit()

In [28]:
def populate_frames_table():
    df_videos = pd.read_sql('select id, name AS video_name from videos;', spatial_conn)

    cur.execute("BEGIN;")

    for _, v_row in df_videos.iterrows():
        sql = f"SELECT frame, timestamp, lat, lon FROM frames where video_id='{v_row.video_name}';"
        df_frames = pd.read_sql(sql, mysql_conn) 
        
        for _, f_row in df_frames.iterrows():
            s = 'INSERT INTO frames (video_id,frame_number,time,geometry) VALUES ('      
            s += f"{v_row.id}, {f_row.frame}, '{f_row.timestamp}', "
            s += f"TRANSFORM( GeomFromText('POINT({f_row.lon} {f_row.lat})', 4326), 3857));\n"
            cur.execute(s)
            
    cur.execute("COMMIT;")

#     with open("populate_frames_table.sql", "w") as f:
#         f.write(s)
        
#populate_frames_table()

In [29]:
def get_frame_id(old_frame_id):
    """
    Get the frame_id used in the Spatialite database by parsing the frame_id used in the MySQL database
    Format of the old frame_id is 20200703_125239.mp4-135 (video file name and frame number)
    """
    cur.execute(f"SELECT id FROM videos WHERE name='{old_frame_id.split('-')[0]}'")
    video_id = [x[0] for x in cur.fetchall()][0]
    cur.execute(f"SELECT id FROM frames WHERE video_id={video_id} AND frame_number='{old_frame_id.split('-')[1]}'")
    frame_id = [x[0] for x in cur.fetchall()][0]
    return frame_id    

#get_frame_id('20200703_125239.mp4-135')

In [30]:
def populate_trees_table():

    # Get the old trees table from the MySQL database

    sql = f"""
    SELECT trees.*
    FROM videos, frames, trees
    WHERE 
    videos.video_id = frames.video_id
    AND frames.frame_id = trees.frame_id 
    AND videos.video_id IN ({video_list_string()})"""
    df_trees  = pd.read_sql(sql, mysql_conn)
    df_trees.rename(columns={'frame_id':'old_frame_id'}, inplace=True)
    df_trees['frame_id'] = df_trees.old_frame_id.apply(lambda x: get_frame_id(x))
    df_trees

    # Write SQL to populate_trees_table.sql
    cur.execute('BEGIN;')
    s = 'INSERT INTO trees (frame_id, damage_index, geometry)\n'
    s += 'VALUES\n'
    for _, r in df_trees.iterrows():
        s += f"({r.frame_id},{r.damage},GeomFromText('MULTIPOINT({r.xtl} {r.ytl},{r.xbr} {r.ybr})',-1)),\n"
    s = s[:-2] # Remove last comma and CR
    s += ';'
    cur.execute(s)       
    cur.execute('COMMIT;')    
    
#     with open("populate_trees_table.sql", "w") as f:
#         f.write(s)

In [31]:
def populate_vcuts_table():
    
    # get data from MySQL database

    sql = f"""
    SELECT vcuts.*
    FROM videos, frames, vcuts
    WHERE 
    videos.video_id = frames.video_id
    AND frames.frame_id = vcuts.frame_id 
    AND videos.video_id IN ({video_list_string()})"""
    df_vcuts  = pd.read_sql(sql, mysql_conn)
    df_vcuts.rename(columns={'frame_id':'old_frame_id'}, inplace=True)
    df_vcuts['frame_id'] = df_vcuts.old_frame_id.apply(lambda x: get_frame_id(x))
    df_vcuts['polygon'] = df_vcuts.poly_json.apply(lambda x: x.replace(',', ' ').replace(';', ','))
    df_vcuts

    # Write SQL to populate_vcuts_table.sql
    
    cur.execute('BEGIN;')

    s = 'INSERT INTO vcuts (frame_id, geometry)\n'
    s += 'VALUES\n'
    for _, r in df_vcuts.iterrows():
        s += f"({r.frame_id},PolyFromText('POLYGON(({r.polygon}))',-1)),\n"
    s = s[:-2] # Remove last comma and CR
    s += ';'
    cur.execute(s)       
    cur.execute('COMMIT;')    
    
#     with open("populate_vcuts_table.sql", "w") as f:
#         f.write(s)

# MAIN

In [32]:
start = time.time()

parameters = get_parameters_from_yaml()
mysql_conn = connect_to_db()

#print('spatialite videosurvey.spatialite < videosurvey_schema.sql')
if os.path.exists('videosurvey.db'):
    os.remove('videosurvey.db')  
#os.system('spatialite videosurvey.spatialite < videosurvey_schema.sql')

print('connecting to videosurvey.db')
spatial_conn = spatialite.connect('videosurvey.db')
cur = spatial_conn.cursor()

# initializing Spatial MetaData
# This will automatically create GEOMETRY_COLUMNS and SPATIAL_REF_SYS
cur.execute("BEGIN;")
cur.execute("SELECT InitSpatialMetaData();")
cur.execute("COMMIT;")

print('creating videos table')
create_videos_table()

print('creating tracks table')
create_tracks_table()

print('creating frames table')
create_frames_table()

print('creating trees table')
create_trees_table()

print('creating vcuts table')
create_vcuts_table()

print('creating trees view')
create_trees_view()

print('creating vcuts view')
create_vcuts_view()

print('populating videos table')
populate_videos_table()

print('populating tracks table')
populate_tracks_table()

print('populating frames table')
populate_frames_table()

print('populating trees table')
populate_trees_table()

print('populating vcuts table')
populate_vcuts_table()

mysql_conn.close()
spatial_conn.close()

end = time.time()
seconds = int(end - start)
print(f'FINISHED in {seconds} seconds')

/home/aubrey/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  This is separate from the ipykernel package so we can avoid doing imports until

mysql+pymysql://readonlyguest:readonlypassword@mysql.guaminsects.net/videosurvey
connecting to videosurvey.db
creating videos table
creating tracks table
creating frames table
creating trees table
creating vcuts table
creating trees view
creating vcuts view
populating videos table
populating tracks table
populating frames table
populating trees table
populating vcuts table
FINISHED in 78 seconds